* {
  box-sizing: border-box;
  transition: 1s;
}

body {
  margin: 0;
}
body main {
  height: 100vh;
}
body main .container-fluid {
  background-size: cover;
  padding: 0;
  position: relative;
}
@media (max-width: 1010px) {
  body main .container-fluid {
    flex-direction: column-reverse !important;
    position: relative !important;
    justify-content: space-around;
  }
}
body main .container-fluid .abs {
  position: absolute;
  opacity: 0.6;
}
@media (max-width: 1010px) {
  body main .container-fluid .left {
    display: block !important;
    width: 100% !important;
    height: 54px !important;
  }
}
@media (max-width: 1010px) {
  body main .container-fluid .md {
    width: 100%;
    height: 80% !important;
  }
}
body main .container-fluid .row {
  margin: 0;
  height: 100%;
}
body main .container-fluid .row .textboard {
  left: 50%;
  padding: 0 96px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1010px) {
  body main .container-fluid .row .textboard {
    display: none !important;
  }
}
body main .container-fluid .row .textboard .fs {
  font-size: 3rem;
  font-weight: 700;
}
body main .container-fluid .row .textboard .fs3 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
body main .container-fluid .row .link {
  height: 56px;
  padding: 16px;
}
@media (max-width: 1010px) {
  body main .container-fluid .row .link {
    display: block !important;
    position: absolute !important;
    left: 50%;
    width: auto;
    transform: translateX(-50%);
  }
}
body main .container-fluid .row .link i {
  font-size: 24px;
}
body main .container-fluid .row .link .mar {
  margin: 0 16px;
}
body main .container-fluid .row .bgb {
  height: 100%;
  background-color: #162446;
  z-index: 10;
  padding: 0;
}
@media (max-width: 1010px) {
  body main .container-fluid .row .bgb {
    background-color: unset !important;
  }
}
body main .container-fluid .row .bgb .loginpd {
  padding: 0 64px;
}
@media (max-width: 1010px) {
  body main .container-fluid .row .bgb .loginpd {
    padding: 0 !important;
  }
}
body main .container-fluid .row .bgb .loginpd .loginbox {
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 64px;
}
@media (max-width: 1010px) {
  body main .container-fluid .row .bgb .loginpd .loginbox {
    padding: 0 !important;
  }
}
body main .container-fluid .row .bgb .loginpd .loginbox .name {
  margin: 12px 0;
}
body main .container-fluid .row .bgb .loginpd .loginbox .name span {
  font-size: 48px;
  font-weight: 700;
}
body main .container-fluid .row .bgb .loginpd .loginbox .fans {
  padding: 24px 0;
}
body main .container-fluid .row .bgb .loginpd .loginbox .fans .cenicon {
  margin: 0 8px;
}
body main .container-fluid .row .bgb .loginpd .loginbox .fans .fansbox {
  width: 36px;
  height: 36px;
  border: 2px solid white;
  border-radius: 50%;
}
body main .container-fluid .row .bgb .loginpd .loginbox .fans .fansbox i {
  font-size: 1.125rem;
}
body main .container-fluid .row .bgb .loginpd .loginbox .finbox .div {
  margin: 16px 0 8px 0;
}
body main .container-fluid .row .bgb .loginpd .loginbox .finbox .div .email {
  width: 70%;
  font-size: 1.125rem;
  padding: 16px;
  border-radius: 5px;
}
body main .container-fluid .row .bgb .loginpd .loginbox .finbox .div1 {
  margin: 16px 0 8px 0;
}
body main .container-fluid .row .bgb .loginpd .loginbox .finbox .div1 .pos {
  width: 70%;
  font-size: 1.125rem;
  padding: 16px;
  border-radius: 5px;
}
body main .container-fluid .row .bgb .loginpd .loginbox .forgot {
  height: 24px;
}
body main .container-fluid .row .bgb .loginpd .loginbox .forgot span {
  right: 15%;
  color: white;
  opacity: 0.6;
}
body main .container-fluid .row .bgb .loginpd .loginbox .forgot span:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 1;
}
body main .container-fluid .row .bgb .loginpd .loginbox .but {
  margin: 16px 16px 8px 16px;
}
body main .container-fluid .row .bgb .loginpd .loginbox .but .signbutton {
  width: 70%;
  padding: 16px;
  background-color: rgba(59, 130, 246, 0.7);
  color: white;
  font-size: 1.125rem;
  border: 0px;
}
body main .container-fluid .row .bgb .loginpd .loginbox .but .signbutton:hover {
  background-color: rgba(59, 130, 246, 0.5);
}/*# sourceMappingURL=login.css.map */